[submodule "mp_software_stylesheets"]
	path = mp_software_stylesheets
	url = https://github.com/ktechhydle/mp_software_stylesheets.git
	branch = master
[submodule "mprun_assets"]
    path = mprun_assets
    url = https://github.com/ktechhydle/mprun_assets.git
    branch = master
