name: macOS PyInstaller Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python for x86_64
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install project requirements for x86_64
        run: |
          arch -x86_64 python -m pip install --upgrade pip
          arch -x86_64 pip install pyinstaller
          arch -x86_64 pip install -r requirements.txt
          git clone https://github.com/ktechhydle/mp_software_stylesheets.git

      - name: Build macOS app for x86_64 using PyInstaller
        run: |
          arch -x86_64 pyinstaller --distpath dist/x86_64 macos_build.spec

      - name: Set up Python for arm64
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install project requirements for arm64
        run: |
          arch -arm64 python -m pip install --upgrade pip
          arch -arm64 pip install pyinstaller
          arch -arm64 pip install -r requirements.txt

      - name: Build macOS app for arm64 using PyInstaller
        run: |
          arch -arm64 pyinstaller --distpath dist/arm64 macos_build.spec

      - name: Merge x86_64 and arm64 using lipo
        run: |
          lipo -create dist/x86_64/MPRUN.app dist/arm64/MPRUN.app -output dist/MPRUN_universal.app

      - name: Install create-dmg using Homebrew
        run: |
          brew install create-dmg

      - name: Codesign the app
        run: |
          codesign --deep --force --sign - dist/MPRUN_universal.app

      - name: Create DMG
        run: |
          create-dmg --volname "MPRUN Installer" \
          --background "dmg installer background.png" \
          --window-pos 20 20 --window-size 600 400 --icon-size 128 \
          --icon "MPRUN_universal.app" 75 176 --hide-extension "MPRUN_universal.app" \
          --app-drop-link 438 176 "MPRUN_1.1+macOS_setup.dmg" \
          "dist/"

      - name: Codesign the dmg
        run: |
          codesign --deep --force --sign - MPRUN_1.1+macOS_setup.dmg

      - name: Upload DMG as artifact
        uses: actions/upload-artifact@v3
        with:
          name: MPRUN_1.1+macOS_setup.dmg
          path: MPRUN_1.1+macOS_setup.dmg

