name: macOS PyInstaller Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python for x86_64
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install project requirements for x86_64
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller
          pip install -r requirements.txt
          git clone https://github.com/ktechhydle/mp_software_stylesheets.git
          git clone https://github.com/ktechhydle/mprun_assets.git

      - name: Build macOS app for x86_64 using PyInstaller
        run: |
          pyinstaller macos_build.spec

      - name: Install create-dmg using Homebrew
        run: |
          brew install create-dmg

      - name: Codesign the app
        run: |
          codesign --deep --force --sign - dist/MPRUN.app

      - name: Get MPRUN version
        id: get_version
        run: |
          VERSION=$(cat "internal data/_version.txt")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create DMG
        run: |
          create-dmg --volname "MPRUN Installer" \
          --background "dmg installer background.png" \
          --window-pos 20 20 --window-size 570 450 --icon-size 128 \
          --icon "MPRUN.app" 70 206 --hide-extension "MPRUN.app" \
          --app-drop-link 418 196 "MPRUN_${{ env.VERSION }}+macOS_setup.dmg" \
          "dist/"

      - name: Codesign the dmg
        run: |
          codesign --deep --force --sign - "MPRUN_${{ env.VERSION }}+macOS_setup.dmg"

      - name: Upload DMG as artifact
        uses: actions/upload-artifact@v3
        with:
          name: MPRUN_${{ env.VERSION }}+macOS_setup.dmg
          path: "MPRUN_${{ env.VERSION }}+macOS_setup.dmg"
